In [1]:
import pandas as pd
import numpy as np

In [2]:
def series_data(name, index):
    nums = np.arange(10000)
    nums = nums[nums > 0]
    nums = nums[nums % 2 != 0]
    nums = nums[nums % 15 == 0]
    s = pd.Series(nums, pd.RangeIndex(1, len(nums) + 1), name = name)
    for i in range(index, len(s) + 1):
        if i % 2 == 0:
            s[i] -= 70
        else:
            s[i] *= 2
    return max(s[index], s[index + 1], s[index - 5])

print(series_data('Название серии', 8))
print(series_data('Название серии', 18))

510
1110

In [3]:
def frame_data(values, indices):
    df = pd.DataFrame(values, indices)
    df.sort_index(ascending=False, inplace=True)
    return df.iloc[1, -1]

print(frame_data([[1,11,21], [1,2,3], [-1,-2,-3]], ['V','E','F']))
print(frame_data([[111,111,31,41,51,116], [141,15,61,6,717,160], [77,82,91,324,314,10]], ['Z','E','F']))

-3
10

In [4]:
def sellers(n):
    df = pd.read_csv('lab_works_files/tranzaktions.csv', sep='\t')
    df = df[df['Продавец'] == f'seller_{n}']['Цена (млн)']
    sum_n, avg_n = df.aggregate(['sum', 'mean'])
    avg_n = round(avg_n)
    print(sum_n, avg_n)
    avg2_n, = round(df[df >= 2].aggregate(['mean']))
    print(avg2_n)
    return avg2_n + avg_n + sum_n

sellers(2)

11.7 2
2.0

15.7

In [5]:
transaction = [120, -31, '20.1', 12.3, 'bank', 12, -4, -7, 150, 'mr.', 23, 32, 21]

t = pd.Series(transaction, pd.RangeIndex(10, 23))
t = t[t.map(lambda x : type(x) == int)]
print(t.mean(), t.var(ddof=1))

35.111111111111114 3621.111111111111

In [6]:
s = pd.Series(np.random.normal(size=200))
print(s)
s **= 2
s.index += 2
print(s[s < 2])
print(len(s[s > 2]), s[s.index % 2 != 0][s < 2].sum())

0      0.098091
1     -0.788047
2      0.947968
3     -0.378958
4     -0.462074
         ...
195   -0.387188
196   -1.772215
197    0.087762
198   -0.635666
199    0.544380
Length: 200, dtype: float64
2      0.009622
3      0.621018
4      0.898644
5      0.143609
6      0.213513
         ...
196    0.112554
197    0.149915
199    0.007702
200    0.404071
201    0.296349
Length: 161, dtype: float64
39 48.427347559514246

In [8]:
df = pd.read_csv('CreditCardTransaction.csv')

np.random.seed(12)
dfs = df.sample(10000)

print(dfs['Department'].value_counts().nlargest(3))

df2 = dfs[(dfs['Year'] == 2022) & ((dfs['Month'] == 1) | (dfs['Month'] == 2))]['TrnxAmount']

print(df2.median())

dfs['diff'] = abs(df2.median()) - abs(dfs['TrnxAmount'])
dfs

Department
DEPT OF NATRL RES AND ENV CONT    1310
DEPT OF CORRECTIONS               1069
DEPT OF TRANSPORTATION            1064
Name: count, dtype: int64
100.0

,Year,Month,Department,Division,Merchant,TranxDescription,TranxDate,TrnxAmount,diff
472593,2021,9,DEPT OF NATRL RES AND ENV CONT,Parks and Recreation,GRAINGER,Industrial Supplies Not Elsewhere Classified,03-11-2021,195.94,-95.94
62119,2019,4,DEPT OF SAFETY AND HOMELAND,State Police-Executive,PANERA BREAD #600943,Eating Places Restaurants,10-04-2018,12.94,87.06
277405,2020,5,DEPT OF SAFETY AND HOMELAND,Dema,UBER TRIP,Travel,11/21/2019,24.89,75.11
682377,2022,12,FIRST STATE MILITARY ACADEMY,First State Military Academy,SPORTS NETWORK INTERNATIO,Recreation Services Not Elsewhere Classified,06/15/2022,210.00,-110.00
670575,2022,12,EXECUTIVE,Office of the Governor,LEXISNEXIS PAYMENT CTR,Business Services-Not Elsewhere Classified,05/27/2022,485.00,-385.00
...,...,...,...,...,...,...,...,...,...
568037,2022,4,DEPT OF TRANSPORTATION,Maintenance Districts,TRI-STATE BATTERY,Business Services-Not Elsewhere Classified,09/29/2021,480.00,-380.00
552369,2022,3,DEPT OF TRANSPORTATION,Maintenance Districts,FASTENAL COMPANY 01DENEW,Industrial Supplies Not Elsewhere Classified,09/15/2021,18.38,81.62
658432,2022,11,DEPT OF CORRECTIONS,Food Services,H. SCHRIER And CO. INC.,Misc Food Store-Convenience Mrkt Splty Vendng ...,05-06-2022,13744.00,-13644.00
741398,2023,4,DEPT OF LABOR,Employment And Training Serv,COGNITO-TEAM,Computer Software Stores,10-01-2022,45.00,55.00
182665,2019,12,JUDICIAL,Family Court,GRAINGER,Industrial Supplies Not Elsewhere Classified,06-10-2019,33.60,66.40